extends layout

block content
  a(href='https://github.com/anders94/blockchain-demo/')
    img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='Fork me on GitHub')
  .container
    h1 Plan
    ol.lead
      li
        a(href='/hash') #{__('Hash')}
      li
        a(href='/block') #{__('Block')}
      li
        a(href='/blockchain') #{__('Blockchain')} 
      li
        a(href='/distributed') #{__('Distributed')}
      li
        a(href='/tokens') #{__('Tokens')} 
      li
        a(href='/coinbase') #{__('Coinbase')}
    div Credits to Anders Brownworth's 
        a(href='https://www.youtube.com/embed/_160oMzblY8') blockchain visual demo
    
